@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Josefin Sans", Helvetica, sans-serif;
}

nav {
    background-color: black;
    height: 80px;
    width: 100%;
}

label,
.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    padding: 0 80px;
}



nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;

}

a.active,
a:hover {
    background-color: rgba(196, 196, 196, 0.15);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-left: 70px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* Section One */

.section_One {

    height: 85vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.63) 0%,
            rgba(225, 143, 37, 0.3906) 99.99%, rgba(228, 145, 38, 0.4662) 100%), url(/img/headway-5QgIuuBxKwM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content {
    position: relative;
    height: 50vh;
    top: 150px;
    padding: 20px;
    text-align: center;

}


.main-content h1 {
    font-size: 54px;
    color: white;
    line-height: 120px;
}

.main-content p {
    font-size: 27px;
    color: white;
    line-height: 35px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.btn-btn {
    position: absolute;
    left: 0;
    right: 0;
    width: 13%;
    background-color: white;
    color: #FFA026;
    padding: 17px 0px;
    border-radius: 30px;
    margin: auto;

}

.sloga {
    text-align: center;
    margin-top: 290px;
    color: white;
    font-size: 25px;
}

/* end ofSection one */


/* Section Two */

.section_two {
    height: 70vh;
}


.Coders {
    margin-top: 65px;
    text-align: center;
}

.Coders h3 {
    color: #FFA026;
    font-size: 30px;
    margin: 25px 0;
}

.Coders h1 {
    font-size: 40px;
    margin: 25px 0;
}

.cards_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
}


.cards {
    text-align: center;
    line-height: 30px;
    width: 30%;
    height: 43%;
}

.cards i {
    margin: 15px 0;
    padding: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #F2F2F2;
    width: 100px;
    height: 100px;
    background-color: #FFA026;
    border-radius: 50%;
    border: 5px solid #F2F2F2;
}

.cards h1 {
    margin: 15px 0;

}

.cards p {
    margin: 15px 0 50px 0;
    text-align: center;
}

.cards a {

    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
}

.cards .btn {

    border: 3px solid #FFA026;
    color: #FFA026;
    padding: 17px 50px;
    border-radius: 30px;
    margin: auto;

}

/* Section end two */


/* section Three for partenrs*/
.section_three {
    height: 170vh;
    background: rgba(220, 220, 220, 0.22);
}

.wrapp {
    margin: 50px 50px;
}

.info {
    padding: 130px;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    height: auto;

}

.info_title {

    align-self: center;
    padding: 60px 0;
}

.info_title h1 {
    font-size: 40px;
    color: #FFA026;
    width: auto;
    height: auto;
}

.info_title p {
    margin-top: 30px;
    line-height: 1.5em;
    width: auto;
    height: auto;
}

.info_img {
    display: grid;
    justify-content: end;
}

.info_img_2 {
    display: grid;
    justify-content: start;
}

/* section three end  for partenrs */


/* section four start */

.process {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:100px;
    margin: 200px 100px;
    
}

.process_item {
    display: flex;
    gap: 35px;
}

.process_content {
    align-self: flex-end;
}

.process_content h1 {
    font-size: 30px;
    margin-bottom: 10px;

}

.process_content p {
    color: rgba(0, 0, 0, 0.692);

}

.process_icon p {
    background-color: #FFA026;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: larger;
    padding: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* section four end */



/* Section five */

.section_five {
    background: rgba(220, 220, 220, 0.22);
}

.main_garelly {
    margin: 0px 230px;
    padding:  100px 0px;
    text-align: center;
}

.main_garelly i {
 color: #FFA026;

}

.main_content {
    margin-top: 30px;
}

.main_content h1{
    font-size: 35px;
    color: rgba(0, 0, 0, 0.705);
    margin: 30px;
}

.main_content p{
    font-size: 20px;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.705);
    margin: 30px;
}

.garelly {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px
}


/* section five end */


/* Footer */
footer {
    height: 30vh;
    background: #3A3A3A;
}

.wrapp_footer {
    margin: 70px;
    padding-top: 30px;
}

.footer_ft {
 color: white;
}

.About_ft h2::before{
    content: "";
    display: block;
    position: relative;
    right: 10px;
    top:23px;
    background-color: #E49126;
    width: 5px;
    border-radius: 2px;
    height: 30px;

}

.ft_icon {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(3,80px);
    row-gap: 10px;
    text-align: center;
}

.ft_icon i{
    padding: 15px;
    background-color: #FFA026;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid #F2F2F2; 

}

.zatec_footer  {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.About_ft p{
    width: 70%;
    padding-top: 20px;
    line-height: 1.2rem;
}

.email {
    margin-top: 17px;
    display: grid;
}

.email input{
    padding: 8px 25px;
    border: none;
    border-radius:5px ;
    width: 60%;
}

.email input:focus{
    outline: none;
}

.email button{
    margin-top: 15px;
    border-radius:3px ;
    width: 25%;
    border: none;
    color: white;
    padding: 8px 10px;
    background-color:#E49126 ;
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
}

/* End Footer */
   




/* Media Queries */
@media (max-width: 1600px) {

    label,
    .logo {
        font-size: 30px;

    }

    .btn-btn {
        width: 0%;
    }

    nav ul li a {
        font-size: 16px
    }

    .main-content h1 {
        font-size: 44px;

    }

    .main-content p {
        font-size: 22px;

    }

    /* section two */
    .section_two {
        margin-top: 30px;
        height: auto;
    }

    .cards {
        width: 50%;
        height: 43%;
    }

    /* section end two */


    /* section three */
    .info {
        padding: 80px 0px;
    }

    .info_title h1 {
        font-size: 30px;
        color: #FFA026;
        width: auto;
        height: auto;
    }

    .info_title p {
        margin-top: 30px;
        line-height: 1.5em;
        width: auto;
    }

    .info_img_2 {
        order: 1;
    }

    /* section four */

    .process {
        
        grid-template-columns: repeat(2,1fr);
        grid-gap:90px;
        margin: 20px 0px;
        
    }
    .process_content h1 {
        font-size: 20px;
        margin-bottom: 10px;
    
    }
    
    .process_icon p {
     
        font-weight: 900;
        font-size: larger;
        padding: 12px;
        border-radius: 50%;
    
    }
    /* section fourend */

    /* section five */
    .main_garelly {
        margin: 0px 100px;
        padding-top: 10px;
        text-align: center;
    }

    .garelly {
        margin-top: 50px;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 0px;
        grid-row-gap: 30px
    }

    .garelly img{
      max-width: 95%;
    }
}






@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    .main-content h1 {
        font-size: 24px;

    }

    .main-content p {
        font-size: 20px;

    }

    .btn-btn {
        width: 50%;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(34, 32, 32);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 1;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;

    }

    a:hover,
    a.active {

        background-color: rgba(196, 196, 196, 0.15);
    }

    #check:checked~ul {
        left: 0;
    }

    /* section two */
    .section_two {
        margin-top: 30px;
        height: auto;
    }

    .cards_items {
        gap: 50px;
    }

    .cards {
        width: 70%;
        height: 43%;
    }

    /* section end two */

    .info {

        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    img {
        padding: 0;
        max-width: 100%;
    }

    /* section_three */

    .section_three {
        height: 230vh;
      
    }

    /* section four */

    
    
    .process_item {
        display: flex;
        gap: 25px;
    }

    .process {
        
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
        margin: 0px 0px;
        
    }
    .process_content h1 {
        font-size: 19px;
        margin-bottom: 10px;
    
    }
    
    .process_icon p {
        
        font-weight: 900;
        font-size: larger;
        padding: 15px;
        text-align: center;
        border-radius: 50%;
    
    }
    .process_item {
        display: block;
       

    }

    .process_content{
        margin-top: 20px;
    }

    .garelly {
        margin-top: 50px;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 30px
    }

    .garelly img{
      max-width: 100%;
    }

    .main_garelly {
        margin: 0px 60px;
        padding-top: 10px;
        text-align: center;
    }
}

@media (max-width: 500px) {

    label,
    .logo {
        position: relative;
        bottom: 80px;
    }
}